@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$orange: #fb820a;
$yellow: #fdba3a;
$blue: #04aaf5;
$green: #0b9444;
$olive: #8ea929;
$text: #363636;
$white: #fff;
$black: #000;
$darkGray: #231e20;
$lightGray: #6b6866;
$transition: 0.3s ease-in-out;
$fontSize: 22px;
$fontFamily: 'Montserrat', sans-serif;
